<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tikonsil.tikonsil509">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.c2dm.permission.RECEIVE"/>

    <application

        android:allowBackup="true"
        android:icon="@drawable/tikonsillogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tikonsillogo"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Tikonsil509">
        <activity
            android:theme="@style/SplashScreen"
            android:name=".ui.activity.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.invoice.InvoiceActivity"
            android:exported="false"
            android:theme="@style/PBarTheme"/>
        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:exported="false"
            android:theme="@style/PBarTheme" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="true"
            android:theme="@style/PBarThemeLogin"
            />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <service
            android:name=".utils.service.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>